<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689948756723-hhfg04nobusnrcsvnpigrvcl0ucnm5to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689948756723-hhfg04nobusnrcsvnpigrvcl0ucnm5to</string>
	<key>API_KEY</key>
	<string>AIzaSyC1YRX4JDSiU-4W75nZtT3l1ympRAi-YeI</string>
	<key>GCM_SENDER_ID</key>
	<string>689948756723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebasecrudapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firebasefluttercrudoperation</string>
	<key>STORAGE_BUCKET</key>
	<string>firebasefluttercrudoperation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689948756723:ios:900461c0328d8b1fac8586</string>
</dict>
</plist>